.neeto-ui-subheader [data-tippy-root]{
  z-index: 10000 !important;
}

.neeto-chat-survey-question-accordion__header{
  .neeto-ui-typography{
    color: inherit;
  }
}

.neeto-ui-theme--dark [data-dark-mode-color="true"][fill]:not([fill="none"]) {
  fill: currentColor;
}

.neeto-ui-theme--dark [data-dark-mode-color="true"][stroke]:not([stroke="none"]) {
  stroke: currentColor;
}
