:root, .neeto-ui-theme--light, .neeto-ui-theme--dark {
  // Outer wrapper
  --neeto-ui-accordion-outer-wrapper-padding-x: 0px;
  --neeto-ui-accordion-outer-wrapper-padding-y: 0px;
  --neeto-ui-accordion-outer-wrapper-border-radius: 0px;
  --neeto-ui-accordion-outer-wrapper-bg-color: transparent;

  // Wrapper
  --neeto-ui-accordion-wrapper-border-width: 1px;
  --neeto-ui-accordion-wrapper-border-color: rgba(var(--neeto-ui-gray-200), 0.5);
  --neeto-ui-accordion-wrapper-border-radius: 0px;
  --neeto-ui-accordion-wrapper-bg-color: transparent;

  // Item
  --neeto-ui-accordion-item-padding-x: 0px;
  --neeto-ui-accordion-item-padding-y: 0.75rem;
  --neeto-ui-accordion-item-font-size: var(--neeto-ui-text-base);
  --neeto-ui-accordion-item-font-weight: var(--neeto-ui-font-medium);
  --neeto-ui-accordion-item-line-height: 1rem;
  --neeto-ui-accordion-item-color: rgb(var(--neeto-ui-gray-900));
  --neeto-ui-accordion-item-bg-color: transparent;
  --neeto-ui-accordion-item-font-family: var(--neeto-ui-title-font-family);

  // Drop
  --neeto-ui-accordion-drop-padding-x: 0px;
  --neeto-ui-accordion-drop-padding-top: 0px;
  --neeto-ui-accordion-drop-padding-bottom: 1rem;
  --neeto-ui-accordion-drop-color: rgb(var(--neeto-ui-gray-500));
  --neeto-ui-accordion-drop-margin-bottom: 0px;

  // Icon
  --neeto-ui-accordion-icon-gap: 0.75rem;
  --neeto-ui-accordion-icon-color: rgb(var(--neeto-ui-gray-600));
  --neeto-ui-accordion-icon-size: 1.25rem;

  // Item - Open
  --neeto-ui-accordion-item-open-color: rgb(var(--neeto-ui-gray-900));

  // Item - Hover
  --neeto-ui-accordion-item-hover-color: rgb(var(--neeto-ui-gray-900));

  // Item - Focus Visible
  --neeto-ui-accordion-item-focus-visible-color: rgb(var(--neeto-ui-gray-900));
  --neeto-ui-accordion-item-focus-visible-outline: 3px solid rgba(var(--neeto-ui-primary-500), 40%);
  --neeto-ui-accordion-item-focus-visible-outline-offset: 1px;
  --neeto-ui-accordion-item-focus-visible-box-shadow: none;
}

// RTL overrides
[dir="rtl"] {
  .neeto-ui-accordion__item-toggle-icon svg {
    transform: scaleX(-1);
  }
  .neeto-ui-accordion__wrapper .neeto-ui-accordion__item--open .neeto-ui-accordion__item-toggle-icon svg {
    transform: scaleX(-1) rotate(180deg);
  }
}

.neeto-ui-accordions-outer-wrapper {
  padding: var(--neeto-ui-accordion-outer-wrapper-padding-y) var(--neeto-ui-accordion-outer-wrapper-padding-x);
  border-radius: var(--neeto-ui-accordion-outer-wrapper-border-radius);
  background-color: var(--neeto-ui-accordion-outer-wrapper-bg-color);

  &--padded {
    --neeto-ui-accordion-outer-wrapper-padding-x: 1.5rem;
    --neeto-ui-accordion-outer-wrapper-padding-y: 1.5rem;
    --neeto-ui-accordion-outer-wrapper-border-radius: var(--neeto-ui-rounded-lg);
  }

  &--secondary {
    --neeto-ui-accordion-wrapper-bg-color: rgb(var(--neeto-ui-beige-50));
    --neeto-ui-accordion-wrapper-border-width: 0px;
    --neeto-ui-accordion-wrapper-border-radius: var(--neeto-ui-rounded-md);
    --neeto-ui-accordion-item-padding-x: 0.75rem;

    .neeto-ui-accordion__wrapper--icon-left,
    .neeto-ui-accordion__wrapper--icon-right {
      --neeto-ui-accordion-drop-padding-x: 0.75rem;
    }

    .neeto-ui-accordion__wrapper--icon-left {
      .neeto-ui-accordion__drop {
        padding-inline-start: calc(
          var(--neeto-ui-accordion-drop-padding-x) +
            var(--neeto-ui-accordion-icon-size) +
            var(--neeto-ui-accordion-icon-gap)
        );
      }
    }

    .neeto-ui-accordion__wrapper {
      margin-bottom: 0.125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.neeto-ui-accordion__wrapper {
  border-bottom: var(--neeto-ui-accordion-wrapper-border-width) solid var(--neeto-ui-accordion-wrapper-border-color);
  border-radius: var(--neeto-ui-accordion-wrapper-border-radius);
  background-color: var(--neeto-ui-accordion-wrapper-bg-color);

  &--last-item {
    border-bottom: none;
  }

  .neeto-ui-accordion__item {
    padding: var(--neeto-ui-accordion-item-padding-y) var(--neeto-ui-accordion-item-padding-x);
    cursor: pointer;
    transition: var(--neeto-ui-transition);
    gap: var(--neeto-ui-accordion-icon-gap);

    .neeto-ui-accordion__item-handle {
      font-size: var(--neeto-ui-accordion-item-font-size);
      font-weight: var(--neeto-ui-accordion-item-font-weight);
      line-height: var(--neeto-ui-accordion-item-line-height);
      color: var(--neeto-ui-accordion-item-color);
      background-color: var(--neeto-ui-accordion-item-bg-color);
      font-family: var(--neeto-ui-accordion-item-font-family);
    }

    .neeto-ui-accordion__item-toggle-icon {
      svg {
        color: var(--neeto-ui-accordion-icon-color);
      }
    }

    &:hover {
      .neeto-ui-accordion__item-handle {
        color: var(--neeto-ui-accordion-item-hover-color)
      }

      .neeto-ui-accordion__item-toggle-icon {
        svg {
          color: var(--neeto-ui-accordion-item-hover-color)
        }
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: var(--neeto-ui-accordion-item-focus-visible-outline);
      outline-offset: var(--neeto-ui-accordion-item-focus-visible-outline-offset);
      box-shadow: var(--neeto-ui-accordion-item-focus-visible-box-shadow);

      .neeto-ui-accordion__item-handle {
        color: var(--neeto-ui-accordion-item-focus-visible-color)
      }

      .neeto-ui-accordion__item-toggle-icon {
        svg {
          color: var(--neeto-ui-accordion-item-focus-visible-color)
        }
      }
    }

    &--open {
      color: var(--neeto-ui-accordion-item-open-color);
    }
  }

  .neeto-ui-accordion__drop {
    padding: var(--neeto-ui-accordion-drop-padding-top) var(--neeto-ui-accordion-drop-padding-x) var(--neeto-ui-accordion-drop-padding-bottom);
    margin-bottom: var(--neeto-ui-accordion-drop-margin-bottom);
    color: var(--neeto-ui-accordion-drop-color);
    line-height: 1.4;
  }

  &--icon-left {
    --neeto-ui-accordion-drop-padding-x: 0.75rem;

    .neeto-ui-accordion__drop {
      padding-inline-start: calc(
        var(--neeto-ui-accordion-icon-size) +
          var(--neeto-ui-accordion-icon-gap)
      );
    }
  }

  &--icon-right {
    --neeto-ui-accordion-drop-padding-x: 0px;
  }
}

.neetix-accordion {
  --neeto-ui-accordion-item-color: rgb(var(--neeto-ui-primary-500));
  --neeto-ui-accordion-item-hover-color: rgb(var(--neeto-ui-primary-600));
  --neeto-ui-accordion-item-open-color: rgb(var(--neeto-ui-primary-800));
}
