:root, .neeto-ui-theme--light, .neeto-ui-theme--dark {
  --neeto-ui-popover-border-width: 1px;
  --neeto-ui-popover-border-color: rgb(var(--neeto-ui-beige-300));
  --neeto-ui-popover-padding-x: 2rem;
  --neeto-ui-popover-padding-y: 2rem;
  --neeto-ui-popover-border-radius: var(--neeto-ui-rounded-xl);

  // Light theme
  --neeto-ui-popover-light-theme-border-color: rgb(var(--neeto-ui-beige-300));
}

.neeto-ui-popover {
  --neeto-ui-tooltip-padding-x: var(--neeto-ui-popover-padding-x);
  --neeto-ui-tooltip-padding-y: var(--neeto-ui-popover-padding-y);
  --neeto-ui-tooltip-arrow-size: 0.75rem;
  --neeto-ui-tooltip-arrow-offset: 1.5rem;
  border: var(--neeto-ui-popover-border-width) solid var(--neeto-ui-popover-border-color);
  border-radius: var(--neeto-ui-popover-border-radius);


  &[data-theme~=light] {
    border-color: var(--neeto-ui-popover-light-theme-border-color);
    box-shadow: none;
  }

  p {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.neetix-popover {
  --neeto-ui-popover-padding-x: 1.5rem;
  --neeto-ui-popover-padding-y: 1.5rem;
}
