:root,
.neeto-ui-theme--light,
.neeto-ui-theme--dark {
  --neeto-ui-tooltip-max-width: calc(100vw - 10px);
  --neeto-ui-tooltip-font-size: var(--neeto-ui-text-xs);
  --neeto-ui-tooltip-bg-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-tooltip-color: rgb(var(--neeto-ui-white));
  --neeto-ui-tooltip-border-radius: var(--neeto-ui-rounded);
  --neeto-ui-tooltip-line-height: 1.4;
  --neeto-ui-tooltip-word-wrap: break-word;
  --neeto-ui-tooltip-padding-x: 8px;
  --neeto-ui-tooltip-padding-y: 4px;
  --neeto-ui-tooltip-z-index: 2;

  // Arrow
  --neeto-ui-tooltip-arrow-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-tooltip-arrow-size: 6px;
  --neeto-ui-tooltip-arrow-offset: 12px;

  // Light theme
  --neeto-ui-tooltip-light-theme-bg-color: rgb(var(--neeto-ui-white));
  --neeto-ui-tooltip-light-theme-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-tooltip-light-theme-box-shadow: var(--neeto-ui-shadow-sm);
  --neeto-ui-tooltip-light-theme-backdrop-bg-color: rgb(var(--neeto-ui-white));

  // Light theme arrow
  --neeto-ui-tooltip-light-theme-arrow-color: rgb(var(--neeto-ui-white));
  --neeto-ui-tooltip-light-theme-arrow-border-color: rgb(
    var(--neeto-ui-gray-400)
  );
}

.neeto-ui-tooltip {
  position: relative;
  background-color: var(--neeto-ui-tooltip-bg-color);
  color: var(--neeto-ui-tooltip-color);
  border-radius: var(--neeto-ui-tooltip-border-radius);
  font-size: var(--neeto-ui-tooltip-font-size);
  line-height: var(--neeto-ui-tooltip-line-height);
  outline: 0;
  transition-property: transform, visibility, opacity;
  word-wrap: var(--neeto-ui-tooltip-word-wrap);
  max-width: var(--neeto-ui-tooltip-max-width);
  padding: var(--neeto-ui-tooltip-padding-y) var(--neeto-ui-tooltip-padding-x);
  z-index: var(--neeto-ui-tooltip-z-index);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .neeto-ui-text-h1,
  .neeto-ui-text-h2,
  .neeto-ui-text-h3,
  .neeto-ui-text-h4,
  .neeto-ui-text-h5,
  .neeto-ui-text-h6 {
    color: inherit;
  }
}

.neeto-ui-tooltip .neeto-ui-tooltip-arrow > svg > path {
  fill: var(--neeto-ui-tooltip-arrow-color);
}

// Light theme
.neeto-ui-tooltip[data-theme~="light"] {
  color: var(--neeto-ui-tooltip-light-theme-color);
  box-shadow: var(--neeto-ui-tooltip-light-theme-box-shadow);
  background-color: var(--neeto-ui-tooltip-light-theme-bg-color);
}

.neeto-ui-tooltip[data-theme~="light"] .neeto-ui-tooltip-arrow > path {
  fill: var(--neeto-ui-tooltip-light-theme-arrow-color);
}
