.nuifadeIn {
  animation: nuifadeIn 0.3s both;
}

@keyframes nuifadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .nuifadeIn {
    animation: none;
    opacity: 1;
  }
}
